<div class="page-container">

  <!-- HERO -->
  <section class="hero-section">
    <div class="hero-text">
      <h1>{{ heroTitle }}</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima vero deleniti ipsam cupiditate autem excepturi laborum quidem velit similique corrupti optio officiis possimus sit at, exercitationem consequuntur incidunt ad mollitia soluta natus pariatur molestiae? Quam eligendi qui, earum odit officia eaque sequi recusandae officiis ea excepturi in omnis unde praesentium voluptas. Omnis dolor quia eius dolorem totam mollitia tempore recusandae eveniet suscipit atque repellendus quae aliquid esse doloremque voluptate ut ex earum, velit sequi! Repudiandae enim qui deleniti blanditiis iste.</p>
      <p><strong>— A.·.Otis Collection</strong></p>
    </div>
    <div class="hero-img">
      <img [src]="heroImage || 'https://via.placeholder.com/400x500'" alt="Hero Product">
    </div>
  </section>

 <!-- PRODUCTS -->
<section class="products">
  <div class="product-grid">
    <a *ngFor="let p of products.slice(0, showAll ? products.length : 3)"
       [routerLink]="['/product', p.id]"
       class="product-card">

      <img [src]="'http://localhost:3000/uploads/' + p.image_url"
           [alt]="p.name || 'Immagine prodotto'" />
      <h3>{{ p.name }}</h3>
      <p class="price">€ {{ p.price }}</p>
    </a>
  </div>

  <button class="toggle-button" (click)="toggleShowAll()">
    {{ showAll ? 'Mostra meno' : 'Mostra tutti' }}
  </button>
</section>

